body{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background-color: #555;
}

#back{
  width: 15vw;
  height: 15vw;
  position: absolute;
  z-index: -1;
  background-color: #666;
  border-radius: 10%;
  transform: rotate(50deg);
  animation: backAnimation 10s linear infinite;
}

#habilities{
	width: 45%;
	display: flex;
	justify-content: space-evenly;
	aling-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

.hability{
	width: 24%;
	padding: 3% 3% 10%;
	background-color: white;
	margin-bottom: 10px;
	border-radius: 10%;
	border: 1px solid #888;
	position: relative;
	animation: cardsAnimation 5s linear infinite;

	
}

.hability:hover{
	border: 2px solid white;
	scale: 1.1;
	box-shadow: 0px 0px 50px white;
}

.hability img{
	width: 100%;
}

#avatar{
	width: 30%;
}

#avatar img{
	width: 100%;
	border-radius: 20%;
}














@keyframes cardsAnimation {
  0%   {transform: translateY(0px);}
  25%  {transform: translateY(-10px);}
  50%  {transform: translateY(0px);}
  75%  {transform: translateY(10px);}
  100%  {transform: translateY(0px);}
}

@keyframes backAnimation {
  	0%   {transform: translate(0px,0px) rotate(0deg);}
  	10%   {transform: translate(300px,300px) rotate(0deg);}
  	20%   {transform: translate(300px,300px) rotate(45deg);}
  	30%   {transform: translate(300px,-300px) rotate(45deg);}
  	40%   {transform: translate(300px,-300px) rotate(90deg);}
  	50%   {transform: translate(-300px,300px) rotate(90deg);}
  	60%   {transform: translate(-300px,300px) rotate(135deg);}
  	70%   {transform: translate(-300px,-300px) rotate(135deg);}
  	80%   {transform: translate(-300px,-300px) rotate(180deg);}
  	90%   {transform: translate(0px,0px) rotate(180deg);}
  	100%   {transform: translate(0px,0px) rotate(360deg);}
}